body {
  font-family: sans-serif;
}

.container {
  color: #484848;
  line-height: 1.28;
  font-size: 14px;
  margin: 30px auto;
  width: 350px;
}


a {
  color: #db4800;
  text-decoration: underline;
}

a:hover {
  color: #db4800;
  text-decoration: none
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  padding: 10px 0;
}

input[type="text"] {
  flex: 1;
}

input {
  margin-left: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}

.section {
  padding-top: 30px;
}

button {
  margin-top: 10px;
}
